<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319573029893-2v0rgfd0kg7sntd6johkn8g7a43qt7l2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319573029893-2v0rgfd0kg7sntd6johkn8g7a43qt7l2</string>
	<key>API_KEY</key>
	<string>AIzaSyAypvCUGxUS73sUjfo4cbGXzUsGnh6DRQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>319573029893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eliasschneider.gradely</string>
	<key>PROJECT_ID</key>
	<string>gradely-es</string>
	<key>STORAGE_BUCKET</key>
	<string>gradely-es.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319573029893:ios:7127950134e758291dd86c</string>
</dict>
</plist>